{{ $sha25 := sha256 .Inner }}

<script type="text/javascript">
window.addEventListener("load", function(event) {
      new abcjs.Editor("abc-{{ $sha25 }}", {
	  canvas_id: "canvas-{{ $sha25 }}",
	  generate_midi: true,
	  midi_id: "midi-{{ $sha25 }}",
	  warnings_id: "warnings-{{ $sha25 }}",
	  abcjsParams: {
	      generateInline: true,
	      generateDownload: false
	  }
      })
  })
</script>
<hr>
<div id="canvas-{{ $sha25 }}"></div>
<div id="midi-{{ $sha25 }}"></div>
<button onclick="toggleDiv('hide-{{ $sha25 }}')">Source</button>
<div id="hide-{{ $sha25 }}" style="display:none">
  <textarea id="abc-{{ $sha25 }}" cols="60" rows="15">{{ replace .Inner "    " ""}}</textarea>
</div>
